<html>
    <head>
        <meta charset="utf-8">
	    <title>KANGCODE CV</title>
	    <link rel="stylesheet" href="">
    </head>
    <body>
        <div id="app">
		{{ message }}
	    </div>
    </body>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</html>